@import url('./reset.css');

@font-face {
	font-family: 'JubileeDiamond';
	src: url('/OTJubilee-Diamond.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'JubileePlatinum';
	src: url('/OTJubilee-Platinum.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'JubileeSilver';
	src: url('/OTJubilee-Silver.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

:root {
	font-family: JubileePlatinum, 'Times New Roman', Times, serif;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	--header-height: 30px;
	--green10: #033a27;
	--green30: #056142;
	--green50: #03c985;
	--green90: #1cfcb0;
	--yellow: #feb70f;
}

body {
	background-color: var(--green30);
	color: var(--yellow);
	overflow-x: clip;
}

#menu {
	position: fixed;
	height: var(--header-height);
}

.app,
main {
	height: 100%;
}
